.field{ 

    width: 100%;
    min-width: 500px;
    height: 725px;
    border: 1px solid black;
    margin: 15px auto;
}

.planet {
    width: 100px;
    height: 100px;
    background: gray;
    border-radius: 50%;
    position: relative;
    display:inline-block;
}