html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 0 25px 0;
    padding: 15px;
    font-family: sans-serif;
    text-align: center;
    background: aliceblue;
}

.start-bar {
    height: 25px;
}

#startBtn {
    margin-left: 25px;
}

.board {
    width: 520px;
    margin: 0 auto 20px;
}

.square {
    width: 50px;
    height: 50px;
    background: lightgray;
    border-radius: 25%;
    margin: 1px;
    float:left;
    /* overflow: hidden; */
    
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 10px;
}

.backward {
    background: pink;
}

.gray {
    background: lightgray;
}

p {
    position: absolute;
}

.blank {
    visibility: hidden;
}

#piece-1, #piece-2 {
    width: 50%;
    display: block;
    margin: 0 auto;
}

img:hover {
    transform: scale(2.1);
}

.clear-both {
    clear: both;
}

.roll-bar {
    margin-top: 50px;
    background: aliceblue;
    min-height: 50px;
}

.roll {
    margin: 10px 25px;
}
