html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 15px;
    font-family: sans-serif;
    text-align: center;
    background: aliceblue;
}

.turn-bar {
    height: 25px;
    margin: 0 0 35px 0;
    padding: 15px;    
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

button {
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.board {
    width: 520px;
    margin: 0 auto 20px;
}

.square {
    width: 50px;
    height: 50px;
    background: lightgray;
    border-radius: 25%;
    margin: 1px;
    float:left;
    position: relative;
    /* overflow: hidden; */
    
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 10px;
}

.backward {
    background: #EAC3CA;
}

.forward {
    background: #B9B9D9;
}

.start, .finish {
    background: #E0E0A1;
}


.gray {
    background: lightgray;
}

p {
    position: absolute;
}

.blank {
    visibility: hidden;
}

#piece-1, #piece-2 {
    width: 50%;
    display: block;
    margin: 0 auto;
}

img:hover {
    transform: scale(2.1);
}

.clear-both {
    clear: both;
}

.roll-bar {
    margin-top: 50px;
    background: aliceblue;
    min-height: 25px;
    padding: 15px;
}

.roll {
    margin: 3px 25px;
    background: #75B775;
    float:left;
}

.dice-num {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 88.41px;
    display: block;
    float:right;
}

.modal {
    /* display: none; */
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #FEFEFE;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 800px;
}

.modal-paragraph {
    height: 15px;
    float: left;
}

.one-player, .two-player {
    clear:both;
    display: block;
}